<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Enter your reading time!</div>
        <div class="panel-body">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="3000" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <form ng-submit="submitTime()">
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                  <span>{{entry.minutesRead}} {{"minutes-read" | translate}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                  <li ng-repeat="value in minutesArray" role="menuitem"><a ng-click="setTime(value)">{{ value }} <span translate="minutes-set"></span></a></li>
                </ul>
              </div>

              <button type="submit" class="btn btn-primary submit-minutes-read"><span translate="submit-time"></span></button>

            </form>
        </div>
    </div>
</div>
