<div class="modal-content">
    <div class="modal-header" align="center">
        <h4 class="modal-title pull-left" translate="login" ng-hide="form.isRegistration"></h4>
        <h4 class="modal-title pull-left" translate="register" ng-show="form.isRegistration"></h4>

        <div class="btn-group pull-right" uib-dropdown>
          <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <span translate="language"></span> <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu role="menu">
              <li><a ng-click="changeLanguage('en')">English</a></li>
              <li><a ng-click="changeLanguage('es')">Spanish</a></li>
          </ul>
        </div>
    </div>

    <!-- Begin # Login Form -->
    <form name="loginForm" ng-hide="form.isRegistration" ng-submit="login()" role="form">
        <div class="modal-body">
            <div ng-show="form.msgTranslateId" class="alert alert-danger" role="alert">{{form.msgTranslateId | translate}}</div>
            <div class="form-group" ng-class="{ 'has-error': loginForm.email.$dirty && loginForm.email.$error.required || loginForm.email.$dirty && !loginForm.email.$valid }">
                <label for="email" translate="email-address"></label>
                <input required type="email" class="form-control" name="email" id="email" ng-model="user.email">
                <span ng-show="loginForm.email.$dirty && loginForm.email.$error.required" class="help-block" translate="email-required"></span>
                <span ng-show="loginForm.email.$dirty && !loginForm.email.$valid" class="help-block" translate="email-invalid"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': loginForm.zipcode.$dirty && loginForm.zipcode.$error.required || loginForm.zipcode.$dirty && !loginForm.zipcode.$valid }">
                <label for="zipcode" translate="zipcode"></label>
                <input required type="text" class="form-control" name="zipcode" id="zipcode" ng-model="user.zipCode" pattern="[0-9]*">
                <span ng-show="loginForm.zipcode.$dirty && loginForm.zipcode.$error.required" class="help-block" translate="zipcode-required"></span>
                <span ng-show="loginForm.zipcode.$dirty && !loginForm.zipcode.$valid" class="help-block" translate="zipcode-invalid"></span>
            </div>

        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="loginForm.$invalid || form.isLoading" translate="login"></button>
            </div>
            <div>
                <a type="button" class="btn btn-link" translate="register" ng-click="form.isRegistration = !form.isRegistration; form.msgTranslateId = ''"></a>
            </div>
        </div>
    </form>
    <!-- End # Login Form -->

    <!-- Begin | Register Form -->
    <form name="registrationForm" ng-show="form.isRegistration" ng-submit="register()" role="form">
        <div class="modal-body">
        <div ng-show="form.msgTranslateId" class="alert alert-danger" role="alert">{{form.msgTranslateId | translate}}</div>
        <div class="form-group" ng-class="{ 'has-error': registrationForm.email.$dirty && registrationForm.email.$error.required || registrationForm.email.$dirty && !registrationForm.email.$valid }">
                <label for="email" translate="email-address"></label>
                <input required type="email" name="email" class="form-control" id="email" ng-model="registration.email">
                <span ng-show="registrationForm.email.$dirty && registrationForm.email.$error.required" class="help-block" translate="email-required"></span>
                <span ng-show="registrationForm.email.$dirty && !registrationForm.email.$valid" class="help-block" translate="email-invalid"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': registrationForm.zipcode.$dirty && registrationForm.zipcode.$error.required || registrationForm.zipcode.$dirty && !registrationForm.zipcode.$valid }">
                <label for="zipcode" translate="zipcode"></label>
                <input required type="text" name="zipcode" class="form-control" id="zipcode" ng-model="registration.zipCode" pattern="[0-9]*">
                <span ng-show="registrationForm.zipcode.$dirty && registrationForm.zipcode.$error.required" class="help-block" translate="zipcode-required"></span>
                <span ng-show="registrationForm.zipcode.$dirty && !registrationForm.zipcode.$valid" class="help-block" translate="zipcode-invalid"></span>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="registrationForm.$invalid || form.isLoading" translate="register"></button>
            </div>
            <div>
                <a type="button" class="btn btn-link" translate="login" ng-click="form.isRegistration = !form.isRegistration; form.msgTranslateId = ''"></a>
            </div>
        </div>
    </form>
    <!-- End | Register Form -->

    <!-- @TODO social buttons -->
    <div class="row hidden">
        <div class="col-md-6">
            <button class="btn btn-lg btn-facebook" translate="facebook"></button>
        </div>
        <div class="col-md-6">
            <button class="col-md-6 btn btn-lg btn-google" translate="google"></button>
        </div>
    </div>
</div>