<header class="navbar navbar-inverse bookspring-bg-blue" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home" translate="app-name"></a>
            </div>
            <ul class="nav navbar-nav">
                <li uib-dropdown>
                  <a uib-dropdown-toggle translate="language"></a>
                  <ul uib-dropdown-menu>
                    <li>
                      <a ng-click="changeLanguage('en')">English</a>
                      <a ng-click="changeLanguage('es')">Spanish</a>
                    </li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li>
                <a class="btn btn-link" ng-click="logout()" translate="logout"></a>
              </li>
            </ul>
        </div>
    </div>
</header>